#cloud-config
hostname: {{ HOSTNAME }}
manage_etc_hosts: True
system_info:
  default_user:
    name: {{ USERNAME }}
password: {{ PASSWORD }}
chpasswd: { expire: False }
ssh_pwauth: True
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDdnRSDloG0LXnwXEoiy5YU39Sm6xTfvcpNm7az6An3rCfn2QC2unIWyN6sFWbKurGoZtA6QdKc8iSPvYPMjrS6P6iBW/cUJcoU8Y8BwUCnK33iKdCfkDWVDdNGN7joQ6DejhKTICTmcBJmwN9utJQVcagCO66Y76Xauub5WHs9BdAvpr+FCQh0eEQ7WZF1BQvH+bPXGmRxPQ8ViHvlUdgsVEq6kv9e/plh0ziXmkBXAw0bdquWu1pArX76jugQ4LXEJKgmQW/eBNiDgHv540nIH5nPkJ7OYwr8AbRCPX52vWhOr500U4U9n2FIVtMKkyVLHdLkx5kZ+cRJgOdOfMp8vaiEGI6Afl/q7+6n17SpXpXjo4G/NOE/xnjZ787jDwOkATiUGfCqLFaITaGsVcUL0vK2Nxb/tV5a2Rh1ELULIzPP0Sw5X2haIBLUKmQ/lmgbUDG6fqmb1z8XTon1DJQSLQXiojinknBKcMH4JepCrsYTAkpOsF6Y98sZKNIkAqU= iida@FCCLS0008993-00

timezone: Asia/Tokyo
locale: ja_JP.utf8

write_files:
  # overwrite 60-cloud-init.yaml
  - path: /etc/netplan/60-cloud-init.yaml
    permissions: '0600'
    owner: root:root
    content: |-
      network:
        version: 2
        renderer: networkd
        ethernets:
          ens2:
            dhcp4: false
            dhcp6: false
            link-local: []
            addresses:
                - fe80::{{ ROUTER_ID }}/64
          ens3:
            dhcp4: false
            dhcp6: false
            link-local: []
            addresses:
                - fe80::{{ ROUTER_ID }}/64
          ens4:
            dhcp4: false
            dhcp6: false
            link-local: []
            addresses:
                - fe80::{{ ROUTER_ID }}/64
          ens5:
            dhcp4: false
            dhcp6: false
            link-local: []
            addresses:
                - fe80::{{ ROUTER_ID }}/64
          ens6:
            dhcp4: false
            dhcp6: false
            link-local: []
            addresses:
                - fe80::{{ ROUTER_ID }}/64
          ens7:
            dhcp4: false
            dhcp6: false
            link-local: []
            addresses:
                - fe80::{{ ROUTER_ID }}/64
          ens8:
            dhcp4: false
            dhcp6: false
            link-local: []
            addresses:
                - fe80::{{ ROUTER_ID }}/64
          ens9:
            dhcp4: false
            dhcp6: false
            link-local: []
            addresses:
                - fe80::{{ ROUTER_ID }}/64

  - path: /etc/frr/frr.conf
    content: |-
{{ FRR_CONF }}

runcmd:

  # enable frr fabricd
  - sed -i -e "s/^fabricd=no/fabricd=yes/" /etc/frr/daemons

  - reboot
